<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourceImageDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\SourceImage\" />
    <add key="StockImageLibraryDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\Stock\" />
    <add key="ProcessedImageLibraryDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\Processed\" />
    <add key="ImageMapOutputDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\Map\" />
    <add key="TiledImageOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\TiledImage\TiledImage.jpg" />
    <add key="TiledImageOutputDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\TiledImage\" />
    <add key="MosaicImageOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\MosaicImage\MosaicImage.jpg" />
    <add key="ImageLibraryXmlOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Output\TestXml\ImageLibrary\ImageLibrary.xml" />
    <add key="ImageMapXmlOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Output\TestXml\ImageMap\ImageMap.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>