<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceImageDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\SourceImage\" />
    <add key="StockImageLibraryDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\Stock\" />
    <add key="ProcessedImageLibraryDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\Processed\" />
    <add key="ImageMapOutputDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\Map\" />
    <add key="TiledImageOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\TiledImage\TiledImage.jpg" />
    <add key="TiledImageOutputDirectory" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\TiledImage\" />
    <add key="MosaicImageOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Resources\TestLibrary\MosaicImage\MosaicImage.jpg" />
    <add key="ImageLibraryXmlOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Output\TestXml\ImageLibrary\ImageLibrary.xml" />
    <add key="ImageMapXmlOutputPath" value="F:\Work Projects\baysick Design Projects\mosaic-generator\Output\TestXml\ImageMap\ImageMap.xml" />
  </appSettings>
</configuration>